<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <br>
        <div>
            <p class="darkSmall">We are a passionate team of young software developers!</p>
            <p class="darkBig">This is a free survey website by us, Freebirds. </p>
            <p class="lightBold">Anyone can particpate in the surveys.</p>
            <p class="light">If you register, you can enjoy add, edit, and delete features as well!</p>
<div class="row" >
<img src="/assets/images/Kay_Profile_Photo.jpg" class="col imgPadding">

<img src="/assets/images/YunaJung_Profile_Photo.jpg" class="col imgPadding">
<div class="col text">
    <h1>Kay Yan Cheung</h1>
    <h3>Lead Software Developer</h3>
<p><a class="btn btn-secondary btn-sm" href="mailto:kcheun89@my.centennialcollege.ca">Send email</a></p>
</div>
<div class="col text">
    <h1>Yuna Jung</h1>
<h3>UI developer</h3>

<p><a class="btn btn-secondary btn-sm" href="mailto:yjung13@my.centennialcollege.ca">Send email</a></p>
</div>
</div>
</div>