
<div class="margin container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto"><br>
            <form id="register-form">
            <h1 class="text-center">Register</h1><br>
            <fieldset>
                <label>First Name:</label><br>
                <input type="text" id='input-firstname' class="box"/><br><br>
                <label>Last Name:</label><br>
                <input type="text" id='input-lastname' class="box"/><br><br>
                <label>Username:</label><br>
                <input type="text" id='input-username' class="box"/><br><br>
                <label>Password: </label><br>
                <input type="password" id='input-password' class="box"/><br><br>
                <label>Email:</label><br>
                <input type="email" id='input-email' class="box"/><br><br>
            </fieldset>
            </form>
            <br>
            <div class="btnDiv">
<a class="btn btn-secondary btn-sm btnBack" href="/login">Back</a>
<a class="btn btn-dark btn-sm btnRegister" (click)="register()">Register</a>
</div>

<br><br><br><br><br>
</div>
</div>
</div>