<div class="container">



    

    <div class="jumbotron">
        <h4>Welcome</h4>
        <h1 class="h1Big">Surveys</h1>
        <h1 class="h1Small">show that surveys never lie</h1>
        <br>
        <h5>Answer surverys.</h5>
        <h5>Create your own surveys.</h5>
        <br>


    </div>
    <div class="row">
        <div class="col text-center takeSurvey">
        <a class="btn btn-dark btn-lg" href="/surveys">Take Surveys</a>
    </div>
    
    <div class="col">
        <img src="/assets/images/SurveyImg2.png" alt="Survey2" id="surveyImg">
    </div>
</div>



<div class="jumbotron">
    <h1 class="h1Smaller">Steps to Enjoy the Site</h1><br>
    <div class="row text-center">
        <div class="col">
    <img src="/assets/images/survey-step-green.png" alt="SurveyStep1" id="step1">
    <h4>Take the Survey</h4>
</div>
<div class="col">
    <img src="/assets/images/survey-step-orange.png" alt="SurveyStep2" id="step2">
    <h4>View the Results</h4>
</div>
    <div class="col">
    <img src="/assets/images/survey-step-blue.png" alt="SurveyStep3" id="step3">
    <h4>Enjoy the Data</h4>
</div>

</div>
</div>
</div>